body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.demo-section {
    border-top: 2px solid crimson;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.demo-unit {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.demo-canvas {
    border: 1px solid black;
}

.demo-code {
    margin-left: 1em;
    color: dimgrey;
    min-width: 300px;
}

.markdown {
    margin-left: 20px;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.markdown > p {
    line-height: 1.4em;
}
