body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #484848;
}

canvas {
    touch-action: none;
}

ol, ul {
    padding-left: 30px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #08B2E3;
}

a:visited {
    color: #9952c5;
}

a:focus, a:hover {
    border-bottom: 1px solid;
}

a:active {
    color: #ED3B3B;
}

.demo-section {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.demo-unit {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.demo-canvas {
    border: 1px solid black;
    /*prevent stretching to fit container*/
    align-self: center;
}

.demo-code {
    margin-left: 1em;
    color: dimgrey;
    width: 335px;
}

.markdown {
    margin-left: 20px;
    width: 800px;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.markdown > p {
    line-height: 1.4em;
}

@media (max-width: 880px) {
    .demo-section {
        flex-direction: column-reverse;
    }

    .demo-unit {
        overflow-x: auto;
    }
}