body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #484848;
}

ol, ul {
    padding-left: 30px;
}

.demo-section {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.demo-unit {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.demo-canvas {
    border: 1px solid black;
    /*prevent stretching to fit container*/
    align-self: center;
}

.demo-code {
    margin-left: 1em;
    color: dimgrey;
    width: 335px;
}

.markdown {
    margin-left: 20px;
    width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.markdown > p {
    line-height: 1.4em;
}
